body{
    margin: 0;
    padding: 0;
}
.shapka {
    background: url("https://klike.net/uploads/posts/2022-12/1669953459_7-16.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
.top {
    background-color: rgba(80, 73, 65, 0.84);
    width: 100vw;
    height: 100vh;

}
table {
    table-layout: fixed;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 20px 0;
}

table th {
    vertical-align: middle;
    color: #777777;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 5px;
    background: #89f874;
    text-align: center;
    border: 1px solid #c1c1c1;
    font-family: "Comic Sans MS";
}

table td {
    padding: 8px 5px;
    font-size: 18px;
    color: rgba(255, 109, 0, 0.94);
    border: 1px solid #8dff78;
    text-align: center;
    line-height: 16px;
    vertical-align: middle;
    font-size: 18px;
    font-family: "Comic Sans MS";
}
table tbody tr:nth-child(odd) td {
    background: #deddda;
}
.votvash {
    background-color: #777777;
    width: 100%;
    height: 100%;
    border-radius: 10px;

}
.ssilka {
    font-size: 5vh;
    font-family: "Comic Sans MS";
    padding-left: 39vw;
}
.fonlast {
    background-color: rgba(201, 190, 185, 0.65);
    width: 100vw;
    height: 100vh;

}
.pripiska_one {
    font-family: "Comic Sans MS";
    color: #ff6d00;
}
.pripiska_two {
    font-family: "Comic Sans MS";
    color: #ff6d00;
}
h1 {
    font-family: "Comic Sans MS";
    color: #ff6d00;
}
.vihod {
    padding-left: 6vw;
    font-size: 140%;
    font-family: "Comic Sans MS";
}
.library {
    text-align: center;
    font-family: "Comic Sans MS";
    color: #43ff21;
    font-size: 333%;
    padding-top: 6vh;
}
.forform {
    background-color: #61e049;
    border-radius: 9px;
}
.bubylda {
    font-family: "Comic Sans MS";
    color: #ff6d00;
}
.bubylda_p {
    font-family: "Comic Sans MS";
    color: #ff6d00;
}
.or{
    font-family: "Comic Sans MS";
    color: #ff6d00;
    font-size: 150%;
    padding-left: 14vw;
    padding-top: 3vh;
    color: #43ff21;
}
.messag {
    color: #a44822;
    font-family: monospace;
    font-size: 150%;
    padding-top: 5vh;

}
